<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>508221527098-d2c814kj1bebd8eaon14vo34e1uinnji.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.508221527098-d2c814kj1bebd8eaon14vo34e1uinnji</string>
	<key>API_KEY</key>
	<string>AIzaSyBzHiFsRAOgr2dlIYJ_ybFhcE1YaRDp9eI</string>
	<key>GCM_SENDER_ID</key>
	<string>508221527098</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.findyourmate</string>
	<key>PROJECT_ID</key>
	<string>find-your-mate-739b3</string>
	<key>STORAGE_BUCKET</key>
	<string>find-your-mate-739b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:508221527098:ios:4e8c8854b98f5ad77e5103</string>
</dict>
</plist>